.mat-mdc-form-field {
    margin-top: 16px;
  }

  mat-card{
    display: block;
    margin-right:auto;
    margin-left:auto;
    margin-top: 45px
}

mat-stepper {
  font-size: 20px;
  background-color:#FFFFFF
}

button.download{
  font-size: 20px;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 25px 70px 25px 70px;
} 

button.import{
  font-size: 20px;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 25px 70px 25px 70px;
} 

.border{
  border-style: solid;
  border-color:#a4a3a3;
  border-radius: 20px;
  padding: 160px 70px 160px 450px;
  font-family: 'Times New Roman', Times, serif;
}


button.save{
  font-size: 20px;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 25px 70px 25px 70px;
} 

button.createQP{
  font-size: 20px;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding: 25px 70px 25px 70px;
} 





