<div class="options-container">
    <!--option 1 -->
    <mat-card style="width: 90%; height:285px; background-color: #C5CAE9">
        <mat-card-content>
            <h4>{{card1header}}</h4>
            <p>{{card1content}}</p>

            <div class="AddQuestion-Cont-button-row">
                <button mat-raised-button color="accent" routerLink="/AddQuestions">Continue</button>
            </div>
        </mat-card-content>
    </mat-card>

    <!--option 2 -->
    <mat-card style="width: 90%; height: 285px; background-color: #C5CAE9">
        <mat-card-content>
            <h4>{{card2header}}</h4>
            <p>{{card2content}}</p>

            <div class="Manual-Cont-button-row">
                <button mat-raised-button color="accent" routerLink="/Category">Continue</button>
            </div>
        </mat-card-content>

    </mat-card>
</div>