<div class="UserHomePage-container">
    <!-- ToolBar -->
    <div class="ToolBar">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.toggle();">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="title">{{ToolbarTitle}}</span>
                <span class="spacer"></span>
                <app-search></app-search>
                <span class="spacer"></span>
                <div *ngIf="role!=='User'" class="login-signup-button-row">
                    <button routerLink="/Login" mat-raised-button color="accent">LogIn</button>
                    <button routerLink="/SignUp" mat-raised-button color="accent">SignUp</button>
                </div>
            </mat-toolbar-row>

            <!-- <mat-toolbar-row>
                <span>Second Line</span>
                <span class="example-spacer"></span>
            </mat-toolbar-row> -->
        </mat-toolbar>
    </div>
    <!-- side nav bar -->
    <div class="SideNavBar">
        <mat-sidenav-container class="mat-sidenav-container">
            <mat-sidenav #sidenav mode="side">
                <mat-nav-list>
                    <a [routerLinkActive]="'active'" routerLink="/Home" mat-list-item>
                        Home
                    </a>

                    <a class="category" [routerLinkActive]="'active'" routerLink="/UserPage" mat-list-item>
                        Account 
                    </a>

                    <a class="category" [routerLinkActive]="'active'" routerLink="/Category" mat-list-item>
                        Category
                    </a>

                    <a class="category" [routerLinkActive]="'active'" routerLink="/AddMCQ" mat-list-item>
                        Create MCQs
                    </a>

                    <a class="category" [routerLinkActive]="'active'" routerLink="/AddSQs" mat-list-item>
                        Add Subjective Questions
                    </a>

                    <!-- <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <a class="category" [routerLinkActive]="'active'" routerLink="/UserPage" mat-list-item>
                                        Account 
                                    </a> -->
                                <!-- </mat-panel-title>
                              </mat-expansion-panel-header>
                                <mat-panel-description>
                                    <a class="category" [routerLinkActive]="'active'" routerLink="/Category" mat-list-item>
                                        Category
                                    </a>
                                </mat-panel-description>
                        </mat-expansion-panel>
                    </mat-accordion> -->


                    <a [routerLinkActive]="'active'" mat-list-item>
                        AboutUs
                    </a>

                    <a class="category" [routerLinkActive]="'active'" routerLink="/AddSQs" mat-list-item>
                        Log Out
                    </a>
                    

                </mat-nav-list>
            </mat-sidenav>
            <!-- Main content area -->
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>