.Login-Background{
  background-image: url('/assets/images/login.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100%;
}
.Login-Container{
    display:block;
    margin:100px auto;
    background-color: #C5CAE9
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 1,
  'opsz' 24
}

.card-width {
    width: 370px;
}

.Login-Button{
  //  margin-top: 20px;
   display: block;
   margin:  20px auto;
   width: 85%
}

.Google-Login-Button{
  display: block;
 margin:  20px auto;
 width: 85%;
 
}
